* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topnav {
  background-color: #111111;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  float: right;
}

.right {
  float: right;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #e1e2e2;
  color: #111111;
}

/* Add a color to the active/current link */
.topnav a.active {
  font-size: 40px;
  color: #fb8122;
}

.greet {
  margin-top: 150px;
  margin-left: 750px;
  color: #e1e2e2;
  text-align: left;
  top: 0;
}

.name {
  color: #e1e2e2;
  text-align: left;
  font-size: 45px;
}

.background-info {
  color: #e1e2e2;
  text-align: left;
  font-size: 40px;
}

.coffee-addict {
  color: #e1e2e2;
  text-align: left;
  font-size: 35px;
}

body {
  background-color: #111111;
  font-family: 'Saira', sans-serif;
  font-size: 20px;
  padding: 50px;
}
.welcome{
  width: 1600px;
}
h1 {
  font-size: 40px;
  margin-bottom: 25px;
  margin-top: 50px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

h6 {
  margin-top: 20px;
}

p {
  margin-bottom: 20px;
  color: blue;
}

.first {
  color: red;
}

#your-name {
  background-color: yellow;
  border: 5px solid rgb(95, 17, 17);
  width: 400px;
  padding: 25px;
  margin-top: 30px;
}

input,
button {
  padding: 10px;
  font-size: 16px;
}
a {
  color: black;
}

#your-name h2 {
  color: olivedrab;
}

#image {
  width: 400px;
}
/* social media icons */

.social-media{
  text-align: center;
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-github {
  background: #111111;
  color: #e1e2e2;
}

.fa-twitter {
  background: #111111;
  color: #e1e2e2;
}

.fa-linkedin {
  background: #111111;
  color: #e1e2e2;