* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(images/bg4.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #111111;
  font-family: 'Saira', sans-serif;
  font-size: 20px;
  padding: 50px;
}

.Navbar {
  background-color: #111111;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  float: right;
}

/* Style the links inside the navigation bar */
.Navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

/* Change the color of links on hover */
.Navbar a:hover {
  background-color: #e1e2e2;
  color: #111111;
}

/* Add a color to the active/current link */
.Navbar a.active {
  font-size: 40px;
  color: #fb8122;
}

.ferit-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%;
}

.greet {
  margin: left;
  margin-top: 300px;
  /* margin-left: 250px; */
  color: #e1e2e2;
  top: 0;
  width: 60%;
  padding: 10px;
}

.name {
  color: #e1e2e2;
  text-align: left;
  font-size: 45px;
}

.background-info {
  color: #e1e2e2;
  text-align: left;
  font-size: 40px;
}

.coffee-addict {
  color: #e1e2e2;
  text-align: left;
  font-size: 35px;
}

.welcome {
  width: 1600px;
}
h1 {
  font-size: 40px;
  margin-bottom: 25px;
  margin-top: 50px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #111111;
  font-size: 42px;
}



.projects h3{
  font-size: 30px;
  text-transform: uppercase;
  color: #666666;
}

p {
  margin-bottom: 20px;
  color: #111111;
  font-size: 25px;
  text-align: left;
}

.first {
  color: red;
}

#your-name {
  background-color: yellow;
  border: 5px solid rgb(95, 17, 17);
  width: 400px;
  padding: 25px;
  margin-top: 30px;
}

input,
button {
  padding: 10px;
  font-size: 16px;
}
a {
  color: black;
}

#your-name h2 {
  color: olivedrab;
}

#image {
  width: 400px;
}
/* social media icons */

.social-media {
  text-align: center;
  font-size: 50px;
}

.fa {
  padding: 20px;
  width: 110px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-github {
  background: #111111;
  color: #e1e2e2;
}

.fa-medium {
  background: #111111;
  color: #e1e2e2;
}

.fa-linkedin {
  background: #111111;
  color: white;
}

/* .fa-btc {
  background: #e1e2e2;
  color: #111111;
}

.fa-home {
  color: #111111;
}

.fa-newspaper-o {
  background: #e1e2e2;
  color: #111111;
} */

.Navbar {
  background-color: #111111;
  display: flex;
  padding: 16px;
  font-family: sans-serif;
  color: white;
}

.Navbar__Link {
  padding-right: 8px;
}

.Navbar__Items {
  display: flex;
}

.Navbar__Items--right {
  margin-left: auto;
}

.Navbar__Link-toggle {
  display: none;
}

@media only screen and (max-width: 768px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }

  .Navbar__Items {
    display: none;
  }

  .Navbar__Items--right {
    margin-left: 0;
  } 

  .Navbar__ToggleShow {
    display: flex;
  }

  .Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }
}

.skills {
  height: 355px;
  background-color: #e1e2e2;
  text-align: center;
  font-size: 80px;
 
}
.projects-area {
  background-color: #e1e2e2;
  left: 0;
  right: 0;
  padding-top: 100px;
}
.projects-hr {
  width: 50px;
  text-align: center;
  margin: 0 auto 0 auto;
  height: 3px;
  color: #111111;
  background-color: #111111;
}
.projects {
  padding: 80px auto 0 auto;
  text-align: center;
}

#grid-layout-33 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3em;
  width: 80%;
  margin: 0 auto;
}

#grid-layout-33 > div {
  background-color: #c9c9c9;
  padding: 18px;
  margin-bottom: 100px;
  text-align: center;
  box-shadow: 0px 0px 10px #000000;
  margin: 80px auto 40px auto;
}

#grid-layout-33 > div:hover {
  transition: 0.25s ease-in;
  background-color: #e1e2e2;
}

#grid-layout-33 .fa{
  color: #666666;
  font-size: 50px;
  bac
}

.test{
  background-color: #e1e2e2;
  left: 0;
  right: 0;
  height: 10000px;
}
.devicon-numpy-original{
  color: #666666;
  height: 310px;
  vertical-align: middle;
}
.devicon-pandas-original-wordmark{
  color: #666666;
  height: 310px;
  vertical-align: middle;
}
.devicon-python-plain{
  color: #666666;
  height: 310px;
  vertical-align: middle;
}
.devicon-tensorflow-original{
  color: #666666;
  height: 310px;
  vertical-align: middle;
}
.devicon-mysql-plain{
  color: #666666;
  height: 310px;
  vertical-align: middle;
}
.devicon-vscode-plain{
  color: #666666;
  height: 310px;
  vertical-align: middle;
}
.devicon-html5-plain-wordmark{
  color: #666666;
  height: 310px;
  vertical-align: middle;
}
.devicon-css3-plain-wordmark{
  color: #666666;
  height: 310px;
  vertical-align: middle;
}
.devicon-javascript-plain{
  color: #666666;
  height: 310px;
  vertical-align: middle;
}
